@model PUBG.Models.Posted

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Control/Views/Shared/_Layout.cshtml";
}



<div>
    <h4>Oyuncu xalı</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
         Paylaşdığı tarix
        </dt>
        <dd class = "col-sm-10">
            @Model.CreatedAt.ToString("dd-MM-yyyy HH:mm:ss")
        </dd>
        <dt class = "col-sm-2">
           Şəkil
        </dt>
        <dd class = "col-sm-10">
            <img src="/images/@Model.ImagePath" width="150"/>
        </dd>
        <dt class = "col-sm-2">
            Xal
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Point)
        </dd>
        <dt class = "col-sm-2">
            Oyuncu Adı
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.PubgUsername)
        </dd>
        <dt class = "col-sm-2">
         Sezon
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Season.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Geri</a>
</div>
