@model IEnumerable<PUBG.Models.Posted>

@{
    ViewData["Title"] = " Pubg Mobile";
    Layout = "~/Areas/Control/Views/Shared/_Layout.cshtml";
    int i = 0;
}



@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table table-bordered table-active" id="myTable">
    <thead>
        <tr>
            <th>
                №
            </th>
            <th>
                Paylaşılan Tarix
            </th>
            <th>
              Şəkil
            </th>
            <th>
                Xal
            </th>
            <th>
               Oyuncu adı
            </th>
            <th>
               Sezon
            </th>
            <th>Redaktə</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    i++;
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <img src="/images/@item.ImagePath" width="200"/>
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Point)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.PubgUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Season.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Info</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
